* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #D3D5DB;
}


.navbar {
  background-color: black ;
  
  padding: 20px;
  text-align: center;
}

.nav-title {
  font-size: 32px;
  font-weight: bold;
  color: white;
}


h1 {
  
  text-align: center;
  margin: 20px 0;
  font-size: 36px;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}


.card {
  background: white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}


.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}


.card p {
  padding: 10px;
  text-align: center;
  font-weight: bold;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


.modal img {
  max-width: 60%;
  max-height: 80%;
  border-radius: 10px;
}

.footer {
  background-color: #111;
  color: #fff;
  text-align: center;
  padding: 20px 10px;
  margin-top: 0;

}

.footer p {
  margin: 5px 0;
  font-size: 14px;
}


.gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

@media (min-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  .modal img {
   width: 20%;
   height: auto;
}
}



@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }

  .card img {
    height: 150px;
  }
}
